<div id="page-sidebar">
    <div class="scroll-sidebar">
        <ul id="sidebar-menu">
    <li class="header"><span>Overview</span></li>
    <li>
        <a href="index-2.html" title="Admin Dashboard">
            <i class="glyph-icon icon-linecons-tv"></i>
            <span>Admin dashboard</span>
        </a>
    </li>
    <li class="divider"></li>
    <li class="no-menu">
        <a href="http://demo.agileui.com/monarch/demo/frontend-template/index.html" title="Frontend template">
            <i class="glyph-icon icon-linecons-beaker"></i>
            <span>Frontend template</span>
            <span class="bs-label label-danger">
                NEW
            </span>
        </a>
    </li>
    <li class="header"><span>Components</span></li>
    <li>
        <a href="#" title="Elements">
            <i class="glyph-icon icon-linecons-diamond"></i>
            <span>Elements</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="buttons.html" title="Buttons"><span>Buttons</span></a></li>
                <li><a href="labels-badges.html" title="Labels & Badges"><span>Labels &amp; Badges</span></a></li>
                <li><a href="content-boxes.html" title="Content boxes"><span>Content boxes</span></a></li>
                <li><a href="icons.html" title="Icons"><span>Icons</span></a></li>
                <li><a href="nav-menus.html" title="Navigation menus"><span>Navigation menus</span></a></li>
                <li><a href="response-messages.html" title="Response messages"><span>Response messages</span></a></li>
                <li><a href="images.html" title="Images"><span>Images</span></a></li>
            </ul>
            
        </div><!-- .sidebar-submenu -->
    </li>
    <li>
        <a href="#" title="Dashboard boxes">
            <i class="glyph-icon icon-linecons-lightbulb"></i>
            <span>Dashboard boxes</span>
            <span class="bs-label label-primary">Hot</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="chart-boxes.html" title="Chart boxes"><span>Chart boxes</span></a></li>
                <li><a href="tile-boxes.html" title="Tile boxes"><span>Tile boxes</span></a></li>
                <li><a href="social-boxes.html" title="Social boxes"><span>Social boxes</span></a></li>
                <li><a href="panel-boxes.html" title="Panel boxes"><span>Panel boxes</span></a></li>
            </ul>
            
        </div><!-- .sidebar-submenu -->
    </li>
    <li>
        <a href="#" title="Widgets">
            <i class="glyph-icon icon-linecons-wallet"></i>
            <span>Widgets</span>
        </a>
        <div class="sidebar-submenu">
            
            <ul>
                <li><a href="tabs.html" title="Responsive tabs"><span>Responsive tabs</span></a></li>
                <li><a href="collapsable.html" title="Collapsables"><span>Collapsable accordions</span></a></li>
                <li><a href="bs-carousel.html" title="Bootstrap Carousel"><span>Bootstrap carousel</span></a></li>
                <li><a href="calendar.html" title="Calendar"><span>Calendar</span></a></li>
                <li><a href="scrollbars.html" title="Custom scrollbars"><span>Custom scrollbars</span></a></li>
                <li><a href="modals.html" title="Modals"><span>Modals</span></a></li>
                <li><a href="notifications.html" title="Notifications"><span>Notifications</span></a></li>
                <li><a href="lazyload.html" title="Lazyload"><span>Lazyload</span></a></li>
                <li><a href="loading-feedback.html" title="Loading feedback"><span>Loading feedback</span></a></li>
                <li><a href="popovers-tooltips.html" title="Popovers & Tooltips"><span>Popovers & Tooltips</span></a></li>
                <li><a href="progress-bars.html" title="Progress bars"><span>Progress bars</span></a></li>
                <li><a href="sortable-elements.html" title="Sortable elements"><span>Sortable elements</span></a></li>
            </ul>
            
        </div><!-- .sidebar-submenu -->
    </li>
    <li>
        <a href="#" title="Forms UI">
            <i class="glyph-icon icon-linecons-eye"></i>
            <span>Forms UI</span>
        </a>
        <div class="sidebar-submenu">
            
            <ul>
                <li><a href="forms-elements.html" title="Form elements"><span>Form elements</span></a></li>
                <li><a href="forms-validation.html" title="Form validation"><span>Form validation</span></a></li>
                <li><a href="pickers.html" title="Pickers"><span>Pickers</span></a></li>
                <li><a href="sliders.html" title="Sliders"><span>Sliders</span></a></li>
                <li><a href="forms-wizard.html" title="Form wizards"><span>Form wizards</span></a></li>
                <li><a href="forms-masks.html" title="Form input masks"><span>Form input masks</span></a></li>
                <li><a href="image-crop.html" title="Image crop"><span>Image crop</span></a></li>
                <li><a href="dropzone-uploader.html" title="Dropzone uploader"><span>Dropzone uploader</span></a></li>
                <li><a href="multi-uploader.html" title="Multi uploader"><span>Multi uploader</span></a></li>
                <li><a href="input-knobs.html" title="Input knobs"><span>Input knobs</span></a></li>
                <li><a href="ckeditor.html" title="Ckeditor"><span>Ckeditor</span></a></li>
                <li><a href="summernote.html" title="Summernote"><span>Summernote</span></a></li>
                <li><a href="markdown.html" title="Markdown editor"><span>Markdown editor</span></a></li>
                <li><a href="inline-editor.html" title="Inline editor"><span>Inline editor</span></a></li>
            </ul>
            
        </div><!-- .sidebar-submenu -->
    </li>
    <li>
        <a href="#" title="Advanced tables">
            <i class="glyph-icon icon-linecons-megaphone"></i>
            <span>Advanced tables</span>
        </a>
        <div class="sidebar-submenu">
            
            <ul>
                <li><a href="tables.html" title="Basic tables"><span>Basic tables</span></a></li>
                <li><a href="responsive-tables.html" title="Responsive tables"><span>Responsive tables</span></a></li>
                <li><a href="data-tables.html" title="Data tables"><span>Data tables</span></a></li>
                <li><a href="advanced-datatables.html" title="Advanced data tables"><span>Advanced data tables</span></a></li>
                <li><a href="fixed-datatables.html" title="Fixed data tables"><span>Fixed data tables</span></a></li>
                <li><a href="responsive-datatables.html" title="Responsive data tables"><span>Responsive data tables</span></a></li>
            </ul>
            
        </div><!-- .sidebar-submenu -->
    </li>
    <li>
        <a href="#" title="Charts">
            <i class="glyph-icon icon-linecons-paper-plane"></i>
            <span>Charts</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="flot-charts.html" title="Flot charts"><span>Flot charts</span></a></li>
                <li><a href="sparklines.html" title="Sparklines"><span>Sparklines</span></a></li>
                <li><a href="pie-gages.html" title="PieGages"><span>PieGages</span></a></li>
                <li><a href="just-gage.html" title="justGage"><span>justGage</span></a></li>
                <li><a href="morris-charts.html" title="Morris charts"><span>Morris charts</span></a></li>
                <li><a href="xcharts.html" title="xCharts"><span>xCharts</span></a></li>
                <li><a href="chart-js.html" title="Chart.js"><span>Chart.js</span></a></li>
            </ul>
            
        </div><!-- .sidebar-submenu -->
    </li>
    <li>
        <a href="#" title="Maps">
            <i class="glyph-icon icon-linecons-sound"></i>
            <span>Maps</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="gmaps.html" title="gMaps"><span>gMaps</span></a></li>
                <li><a href="vector-maps.html" title="Vector maps"><span>Vector maps</span></a></li>
                <li><a href="mapael.html" title="Mapael"><span>Mapael</span></a></li>
            </ul>
            
        </div><!-- .sidebar-submenu -->
    </li>
    <li class="header"><span>Extra</span></li>
    <li>
        <a href="#" title="Pages">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>Pages</span>
            <span class="bs-badge badge-yellow">2</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="index-alt.html" title="Dashboard 2"><span>Dashboard 2</span></a></li>
                <li><a href="login-1.html" target="_blank" title="Login page 1"><span>Login page 1</span></a></li>
                <li><a href="login-2.html" target="_blank" title="Login page 2"><span>Login page 2</span></a></li>
                <li><a href="login-3.html" target="_blank" title="Login page 3"><span>Login page 3</span></a></li>
                <li><a href="login-4.html" target="_blank" title="Login page 4"><span>Login page 4</span></a></li>
                <li><a href="login-5.html" target="_blank" title="Login page 5"><span>Login page 5</span></a></li>
                <li><a href="lockscreen-1.html" target="_blank" title="Lockscreen page 1"><span>Lockscreen page 1</span></a></li>
                <li><a href="lockscreen-2.html" target="_blank" title="Lockscreen page 2"><span>Lockscreen page 2</span></a></li>
                <li><a href="lockscreen-3.html" target="_blank" title="Lockscreen page 3"><span>Lockscreen page 3</span></a></li>
                <li><a href="server-1.html" target="_blank" title="Server page 1"><span>Error 404 page</span></a></li>
                <li><a href="server-2.html" target="_blank" title="Server page 2"><span>Error 404 alternate</span></a></li>
                <li><a href="server-3.html" target="_blank" title="Server page 3"><span>Server 500 error</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>
    <li>
        <a href="#" title="Mailbox">
            <i class="glyph-icon icon-linecons-mail"></i>
            <span>Mailbox</span>
            <span class="bs-badge badge-danger">3</span>
        </a>
        <div class="sidebar-submenu">

            <ul>
                <li><a href="mailbox-inbox.html" title="Inbox"><span>Inbox</span></a></li>
                <li><a href="mailbox-compose.html" title="Compose message"><span>Compose message</span></a></li>
                <li><a href="mailbox-single.html" title="Single message"><span>Single message</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>
    <li>
        <a href="#" title="Snippets">
            <i class="glyph-icon icon-linecons-cd"></i>
            <span>Snippets</span>
        </a>
        <div class="sidebar-submenu">
            
            <ul>
                <li><a href="timeline.html" title="Timeline"><span>Timeline</span></a></li>
                <li><a href="chat.html" title="Chat"><span>Chat</span></a></li>
                <li><a href="checklist.html" title="Checklist"><span>Checklist</span></a></li>
            </ul>
            
        </div><!-- .sidebar-submenu -->
    </li>
    <li>
        <a href="#" title="Helpers">
            <i class="glyph-icon icon-linecons-doc"></i>
            <span>Helpers</span>
        </a>
        <div class="sidebar-submenu">
            
            <ul>
                <li><a href="helper-classes.html" title="Helper classes"><span>Helper classes</span></a></li>
                <li><a href="page-transitions.html" title="Page transitions"><span>Page transitions</span></a></li>
                <li><a href="animations.html" title="Animations"><span>Animations</span></a></li>
            </ul>
            
        </div><!-- .sidebar-submenu -->
    </li>
</ul><!-- #sidebar-menu -->
    </div>
</div>