<?= $this->Html->script("upload") ?>
<style>

    /* Sticky footer styles
    -------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        background-color: #f5f5f5;
    }

    /* Custom page CSS
    -------------------------------------------------- */
    /* Not required for template or sticky footer method. */

    .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
    }
    .container .text-muted {
        margin: 20px 0;
    }

    #drop_zone {
        border: 2px dashed #bbb;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 25px;
        text-align: center;
        font: 20pt bold 'Helvetica';
        color: #bbb;
    }

</style>

<div class="container">
    <div class="page-header">
        <h1>Vimeo Upload</h1>
    </div>
    <p class="lead">Fill in your vimeo access token and drag you video file into the area below to upload to your vimeo account.</p>
    <div>
        <input type="accessToken" id="accessToken" class="form-control" placeholder="Vimeo access token" required autofocus></input>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="upgrade_to_1080" name="upgrade_to_1080" value="yes"> Upgrade to 1080 </input>
            </label>
        </div>
    </div>
    <br>
    <div class="progress">
        <div id="progress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            0%
        </div>
    </div>
    <div id="drop_zone">Drop files here</div>
    <br>
    <div id="results"></div>
</div>
<script type="text/javascript">

    /**
     * Called when files are dropped on to the drop target. For each file,
     * uploads the content to Drive & displays the results when complete.
     */
    function handleFileSelect(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        var files = evt.dataTransfer.files; // FileList object.
        var accessToken = document.getElementById("accessToken").value;
        var upgrade_to_1080 = document.getElementById("upgrade_to_1080").value;

        // Clear the results div
        var node = document.getElementById('results');
        while (node.hasChildNodes())
            node.removeChild(node.firstChild);

        // Rest the progress bar
        updateProgress(0);

        var uploader = new MediaUploader({
            file: files[0],
            token: accessToken,
            upgrade_to_1080: upgrade_to_1080,
            onError: function (data) {

                var errorResponse = JSON.parse(data);
                message = errorResponse.error;

                var element = document.createElement("div");
                element.setAttribute('class', "alert alert-danger");
                element.appendChild(document.createTextNode(message));
                document.getElementById('results').appendChild(element);

            },
            onProgress: function (data) {
                updateProgress(data.loaded / data.total);
            },
            onComplete: function (videoId) {

                var url = "https://vimeo.com/" + videoId;

                var a = document.createElement('a');
                a.appendChild(document.createTextNode(url));
                a.setAttribute('href', url);

                var element = document.createElement("div");
                element.setAttribute('class', "alert alert-success");
                element.appendChild(a);

                document.getElementById('results').appendChild(element);
            }
        });
        uploader.upload();
    }

    /**
     * Dragover handler to set the drop effect.
     */
    function handleDragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy';
    }

    /**
     * Wire up drag & drop listeners once page loads
     */
    document.addEventListener('DOMContentLoaded', function () {
        var dropZone = document.getElementById('drop_zone');
        dropZone.addEventListener('dragover', handleDragOver, false);
        dropZone.addEventListener('drop', handleFileSelect, false);
    });
    ;
    /**
     * Updat progress bar.
     */
    function updateProgress(progress) {
        progress = Math.floor(progress * 100);
        var element = document.getElementById('progress');
        element.setAttribute('style', 'width:' + progress + '%');
        element.innerHTML = progress + '%';
    }


    progress
</script>

<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-57984417-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
